In [2]:
import pandas as pd
import requests
import pymongo
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager

In [3]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/96.0.4664.45/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\KatharineHollars\.wdm\drivers\chromedriver\win32\96.0.4664.45]

In [4]:
url = "https://redplanetscience.com/"
browser.visit(url)

In [5]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [6]:
title = soup.title.text
title

'News - Mars Exploration Program'

In [7]:
news_title = soup.find('div', class_='content_title').text
print(news_title)

NASA's Mars 2020 Rover Tests Descent-Stage Separation

In [8]:
news_p = soup.find('div', class_='article_teaser_body').text
print(news_p)

A crane lifts the rocket-powered descent stage away from NASA's Mars 2020 rover after technicians tested the pyrotechnic charges that separate the two spacecraft.

# MARS IMAGES

In [9]:
image_url = "https://spaceimages-mars.com/"
browser.visit(image_url)

In [10]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [11]:
for item in soup.find_all('img', class_="headerimage fade-in"):
    print(item['src'])

image/featured/mars3.jpg

In [12]:
mars_pic = item['src']
main_url = "https://spaceimages-mars.com/"
featured_image_url = main_url + mars_pic
featured_image_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

# MARS FACTS

In [13]:
facts_url = "https://galaxyfacts-mars.com/"
browser.visit(facts_url)
table = pd.read_html(facts_url)
table[0]

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [14]:
facts_df=table[0]
facts_df.columns = ["Description", "Mars", "Earth"]

In [15]:
facts_df=facts_df.set_index(["Description"])
facts_df=facts_df.drop(["Mars - Earth Comparison"])
facts_df

                               Mars            Earth
Description
Diameter:                  6,779 km        12,742 km
Mass:               6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                            2                1
Distance from Sun:   227,943,824 km   149,598,262 km
Length of Year:      687 Earth days      365.24 days
Temperature:           -87 to -5 °C      -88 to 58°C

In [16]:
facts_html = facts_df.to_html()
facts_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

# MARS HEMISPHERES

In [24]:
mars_hemispheres_urls= ('https://marshemispheres.com/')

browser.visit(mars_hemispheres_urls)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
items = soup.find_all('div', class_='item')

In [30]:
mars_hemispheres_img_urls= []
for item in items:
    title = item.find('h3').text
    hemisphere_url = 'https://marshemispheres.com/' + item.find('a', class_='itemLink product-item')['href']
    
    browser.visit(hemisphere_url)
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    hemisphere_img_url = 'https://marshemispheres.com/' + soup.find('img', class_='wide-image')['src']
    mars_hemispheres_img_urls.append({'title': title, 'img_url': hemisphere_img_url})
    
mars_hemispheres_img_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]